<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OrangeHRM Automation Suite" verbose="1" parallel="none">
        <listeners>
        <listener class-name="com.example.java.base.TestListener"/>
       </listeners>
    <test name="Login-Section-Test">
        <classes>
            <class name="com.example.java.testcases.LoginTest"/>
        </classes>
    </test>
    <test name="PIM-Section-Test">
        <classes>
            <class name="com.example.java.testcases.PIMTest"/>
        </classes>
</suite>